@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

body{
  font-family: 'PingFangSC Medium';
}

ol,
ul {
  list-style: none;
}

img{
  vertical-align: middle;
  margin: 0;
}